Heléne Jarl <jhelene@student.chalmers.se> <helene.jarl@hotmail.com>
Ina Tran <inat@student.chalmers.se> inaatraan <inat@student.chalmers.se>
Emina Hromic <eminah@student.chalmers.se>
Rasti Tengman <rasti@student.chalmers.se> <rasti93@hotmail.com> <rasti93@gmail.com>