Heléne Jarl <jhelene@student.chalmers.se> jhelene 
Heléne Jarl <jhelene@student.chalmers.se> <helene.jarl@hotmail.com> 
Heléne Jarl <jhelene@student.chalmers.se> <helenejarl@Helenes-MacBook-Pro.local>
Heléne Jarl <jhelene@student.chalmers.se> <helenejarl@dhcp-187192.eduroam.chalmers.se>
Heléne Jarl <jhelene@student.chalmers.se> Helene Jarl <jhelene@student.chalmers.se>

Ina Tran <inat@student.chalmers.se> <inaatraan@gmail.com
Ina Tran <inat@student.chalmers.se> inaatraan <inaatraan@users.noreply.github.com>

Emina Hromic <eminah@student.chalmers.se>

Rasti Tengman <rasti@student.chalmers.se> razztafari <rasti@student.chalmers.se>
Rasti Tengman <rasti@student.chalmers.se> <rasti93@hotmail.com> 
Rasti Tengman <rasti@student.chalmers.se> <rasti93@gmail.com>
